body{
    margin: 0;
    padding: 0;
    background-color: rgb(31, 28, 28);
    color: white;
    font-family: 'Roboto Slab', serif;
}

h1{
    font-size: 3rem;
    text-align: center;
    padding: 10px;
    color: white;
}

h3{
    text-align: center;
}

.container{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selector{
    padding: 1.5rem;
}

.selector > label{
    padding: .5rem;
}

.visualizador{
    text-transform: uppercase;
    border: 5px solid #fff;
    text-align: center;
    font-size: 35px;
    width: 15rem;   
    height: 15rem;
    color: white;
}
